.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.app__content {
  width: 100%;
  max-width: 350px;
  margin-top: 10vh;
}

/**
  Reset style
**/
body, html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}